<?php

$config = array(
	'db' => array(
		'driver'   => 'pdo_mysql',
        'dbname'     => 'odovzdajto',
        'host' => 'localhost',
        'username' => 'root',
        'password' => 'root',
        'charset' => 'utf8'
    )
);